.absolute-max, body, #main, .nav-grey-skin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%; }

.absolute, .nav, .nav-timer {
  position: absolute;
  background-size: auto 100%; }

.z-1 {
  z-index: 1; }

.z-2 {
  z-index: 2; }

.z-3 {
  z-index: 3; }

.z-4 {
  z-index: 4; }

.z-5 {
  z-index: 5; }

.z-6 {
  z-index: 6; }

.z-7 {
  z-index: 7; }

.z-8 {
  z-index: 8; }

.z-9 {
  z-index: 9; }

.z-10 {
  z-index: 10; }

.z-11, .nav {
  z-index: 11; }

.z-12 {
  z-index: 12; }

.z-13 {
  z-index: 13; }

.z-14 {
  z-index: 14; }

.z-15 {
  z-index: 15; }

.z-16 {
  z-index: 16; }

.z-17 {
  z-index: 17; }

.z-18 {
  z-index: 18; }

.z-19 {
  z-index: 19; }

.z-20 {
  z-index: 20; }

.transition-0-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.transition-1s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-2s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-3s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-4s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-5s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-6s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-7s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-8s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-9s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.transition-10s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s; }

.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%; }

.nav-grey-skin {
  background-color: white;
  opacity: 0.6;
  z-index: 10; }

.nav-grey-skin-instruction {
  opacity: 1;
  background-image: url(../pics/instruction.png); }

.nav {
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.2em;
  color: white;
  font-size: 40%;
  cursor: pointer;
  border: 4px solid #ff6262;
  background-color: #ff9a9a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
  background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -o-linear-gradient(top, #ff9a9a, #ff4040); }

.nav:hover {
  background-color: #ff6767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
  background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
  border: 4px solid #ff3434; }

.nav-home {
  left: 94.45%;
  top: 59.8%;
  width: 4.55%;
  height: 9.1%;
  font-size: 50%;
  padding-top: 0em; }

.nav-ff {
  left: 94.45%;
  top: 15.8%;
  width: 4.55%;
  height: 9.1%; }

.nav-fb {
  left: 94.45%;
  top: 37.8%;
  width: 4.55%;
  height: 9.1%; }

.nav-pause {
  left: 94.45%;
  top: 48.8%;
  width: 4.55%;
  height: 9.1%; }

.nav-play, .nav-repeat {
  left: 94.45%;
  top: 26.8%;
  width: 4.55%;
  height: 9.1%; }

.nav-instruction {
  left: 94.45%;
  top: 70.8%;
  width: 4.55%;
  height: 9.1%; }

.nav-launcher, .nav-close, .nav-center {
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  z-index: 12; }

.nav-launcher {
  opacity: 0.6; }

.nav-launcher, .nav-close {
  z-index: 13; }

.nav-timer {
  left: 94.45%;
  top: 81.8%;
  width: 4.55%;
  height: 9.1%;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 11;
  padding-top: 0.5em;
  font-size: 40%; }

/*# sourceMappingURL=navigation.css.map */
