$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@font-face
	font-family: Segoe
	src: url(../fonts/Segoe.ttf)

@font-face	
	font-family: Calibri Light
	src: url(../fonts/CalibriLight.ttf)


@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	@extend .absolute
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	
@mixin size($width, $height)
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin pos-2($left, $top)
	left: $left
	top: $top
	
@mixin size-2($width, $height)
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 3vmax
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

*
	@extend .default-font
	@extend .border-box
	font-family: Segoe

.default-font
	font-family: Segoe	

.blink-shadow
	@include box-shadow(10px, 10px, white)
	
/*PRE LOAD*/

#pre-load
	background-color: #DCDCDC

#pre-load .pre-load-image
	background-image: url(../pics/pre-loader.png)
	background-size: auto 100%
	background-position: 0% 0%
	width: 0%
	height: 100%
	position: absolute

/*GLOBAL AND MENU*/

body
	position: absolute
	margin: 0%
	width: 100%
	height: 100%
	min-width: 100%
	min-height: 100%
	max-width: 100%
	max-height: 100%
	font-size: 50px

#main
	@extend .absolute-max

.frame
	@extend .absolute-max
	background-size: 100% 100%
	overflow: hidden

/*FRAME 000*/

#frame-000
	background-image: url(../pics/main-pics-sprite.png)
	background-size: auto 100%
	background-position: 100% 0%
	
#frame-000 .button
	@extend .absolute
	font-size: 60%
	font-family: Segoe
	color: white
	cursor: pointer
	z-index: 3
	
#frame-000 .button:hover
	@include text-shadow(5px, white)
	color: black

#frame-000 .der-button
	@include pos-and-size-2(12.5%, 20.6%, 16.8%, 14.4%)
	
#frame-000 .facts-button	
	@include pos-and-size-2(3.2%, 56.6%, 16.8%, 15.8%)

#frame-000 .lab-button
	@include pos-and-size-2(70.2%, 47.8%, 17.8%, 16%)

#frame-000 .eyes
	@extend .absolute-max
	background-image: url(../pics/s0-eyes.gif)
	z-index: 2
	
/*FRAME 101*/

#frame-101
	background-image: url(../pics/main-pics-sprite.png)
	background-size: auto 100%
	background-position: 0% 0%
	
#frame-101 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s1-girl-mouth.gif)
	
#frame-101 .eyes
	@extend .absolute-max
	z-index: 3
	background-image: url(../pics/s1-girl-eyes.gif)
	
/*FRAME 102*/

#frame-102 .bg-base
	@extend .absolute
	@include pos-and-size-2(-100%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	
#frame-102 .boy-mouth
	@extend .absolute-max
	background-image: url(../pics/s2-boy-mouth.gif)
	
#frame-102 .eyes
	@extend .absolute-max
	background-image: url(../pics/s2-eyes.gif)
	z-index: 3
	
/*FRAME 103*/

#frame-103 .bg-base
	@extend .absolute
	@include pos-and-size-2(-200%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-103 .boy-mouth
	@extend .absolute-max
	background-image: url(../pics/s3-boy-mouth.gif)
	z-index: 2
	
#frame-103 .eyes
	@extend .absolute-max
	background-image: url(../pics/s3-eyes.gif)
	z-index: 3

/*FRAME 104*/

#frame-104 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-104 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-104 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-104 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-104 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-position: center center
	background-size: auto 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-104 .vinegar	
	background-image: url(../pics/s4-vinegar.png)
	
/*FRAME-105*/

#frame-105 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-105 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-105 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-105 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-105 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-position: center center
	background-size: auto 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-105 .cola	
	background-image: url(../pics/s5-cola.png)
	
#frame-105 .lemon	
	background-image: url(../pics/s5-lemon.png)
	
#frame-105 .orange	
	background-image: url(../pics/s5-orange.png)

/*FRAME 106*/

#frame-106 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-106 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-106 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-106 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-106 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-size: 100% 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-106 .ant	
	background-image: url(../pics/s6-ant.png)
	
#frame-106 .acids	
	background-image: url(../pics/s6-acids.png)
	background-size: 500% 100%
	
#frame-106 .burnt-hand	
	background-image: url(../pics/s6-burnt-hand.jpg)

#frame-106 .caustic
	background-image: url(../pics/s6-caustic.png)
	
#frame-106 .cross
	background-image: url(../pics/s6-cross.png)
	
#frame-106 .hand-wash
	background-image: url(../pics/s6-hand-wash.png)
	background-size: 1200% 100%
	@include pos-and-size-2(20%, 20%, 60%, 60%)
	background-color: transparent
	border: none
	
/*FRAME 107*/

#frame-107 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-107 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 3
	
#frame-107 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-107 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-107 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-size: 100% 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-107 .acid-plus-metal
	background-size: 100% 100%

#frame-107 .acid-plus-magnesium
	background-size: 100% 100%
	
#frame-107 .video
	@extend .absolute-max
	display: block
	background-color: black
	z-index: 4
	
/*FRAME 108*/

#frame-108 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-108 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-108 .boy-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-boy-mouth.gif)
	z-index: 2
	
#frame-108 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-108 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-108 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-size: 100% 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-108 .active-metals-plus-acid
	background-image: url(../pics/s8-active-metals-plus-acid.png)
	background-size: 900% 100%
	background-color: transparent
	
#frame-108 .inactive-metals-plus-acid
	background-image: url(../pics/s8-inactive-metals-plus-acid.jpg)
	background-size: 800% 100%
	background-color: transparent
	
/*FRAME 109*/

#frame-109 .bg-base
	@extend .absolute
	@include pos-and-size-2(-500%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-109 .boy-mouth
	@extend .absolute-max
	background-image: url(../pics/s9-boy-mouth.gif)
	z-index: 2
	
#frame-109 .eyes
	@extend .absolute-max
	background-image: url(../pics/s9-eyes.gif)
	z-index: 3	

#frame-109 .vocabulary
	@extend .absolute-max
	background-image: url(../pics/s9-vocabulary.png)
	z-index: 3
	
/*FRAME 110*/

#frame-110 
	background-image: url(../pics/s10-bg.png)

#frame-110 .keep-thinking
	width: 30%
	height: 60%
	position: absolute
	left: 35%
	top: 20%
	border-radius: 50%
	background-color: white
	color: black
	font-size: 30%
	font-weight: bold
	text-align: center
	padding-top: 12%
	font-family: Segoe
	opacity: 0.7

#frame-110 .instruction, #frame-113 .instruction
	top: 5vmin
	position: absolute
	padding-top: 1vmin
	width: 100%
	height: 6vmin
	text-align: center
	font-size: 30%
	font-weight: bold
	font-family: Segoe
	background-color: #4ec7dd
	color: white

#frame-110 .question-container
	position: absolute
	width: 100%
	height: 30%
	top: 15%

#frame-110 .question-container .elem
	height: 100%
	width: 12%
	float: left
	margin-left: 2%
	border-radius: 10vmin
	background-position: center
	background-size: auto 100%
	background-repeat: none

#frame-110 .question-container .empty
	background-color: #FFC8D5
	border: 0.2vmin solid #6EDCF1

#frame-110 .answers-container
	position: absolute
	width: 100%
	height: 30%
	top: 55%
	border: 0.2vmin solid lightGray

#frame-110 .answers-container .elem
	border: 0.2vmin solid gray
	height: 100%
	width: 12%
	float: left
	margin-left: 4%
	border-radius: 10vmin
	background-position: center
	background-size: auto 100%

#frame-110 .answers-container .elem:hover
	background-color: #1A8F4D

#frame-110 .zinc
	background-image: url(../pics/s10-zinc.png)

#frame-110 .iron 
	background-image: url(../pics/s10-iron.png)
	
#frame-110 .aluminium
	background-image: url(../pics/s10-aluminium.png)
	
#frame-110 .zinc-sulphate 
	background-image: url(../pics/s10-zinc-sulphate.png)
	
#frame-110 .hydrogen 
	background-image: url(../pics/s10-hydrogen.png)
	
#frame-110 .sulphuric-acid 
	background-image: url(../pics/s10-sulphuric-acid.png)
	
#frame-110 .plus-sign 
	background-image: url(../pics/s10-plus-sign.png)
	
#frame-110 .equal-sign 
	background-image: url(../pics/s10-equal-sign.png)
	
#frame-110 .aluminium-sulphate 
	background-image: url(../pics/s10-aluminium-sulphate.png)
	
#frame-110 .hydrochloric-acid 
	background-image: url(../pics/s10-hydrochloric-acid.png)
	
#frame-110 .iron-chloride 
	background-image: url(../pics/s10-iron-chloride.png)
	
/*FRAME 111*/

#frame-111 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-111 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-111 .boy-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-boy-mouth.gif)
	z-index: 2
	
#frame-111 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-111 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
	
#frame-111 .demo-pic
	z-index: 4
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	background-color: white
	background-size: 100% 100%
	border: 3px solid black
	border-radius: 15px
	@extend .absolute
	
#frame-111 .carbonates
	background-image: url(../pics/s11-carbonates.png)
	background-size: 1100% 100%

/*FRAME 112*/

#frame-112 .bg-base
	@extend .absolute
	@include pos-and-size-2(-300%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1
	
#frame-112 .girl-mouth
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.gif)
	z-index: 2
	
#frame-112 .girl-mouth-idle
	@extend .absolute-max
	background-image: url(../pics/s4-girl-mouth.png)
	z-index: 2
	
#frame-112 .eyes
	@extend .absolute-max
	background-image: url(../pics/s4-eyes.gif)
	z-index: 3
		
#frame-112 .video
	@extend .absolute-max
	display: block
	background-color: black
	z-index: 4
	
/*FRAME 113*/

#frame-113 
	background-image: url(../pics/s10-bg.png)

#frame-113 .instruction
	font-size: 30%
	
#frame-113 .labels
	position: absolute
	width: 45%
	height: 80%
	left: 5%
	top: 15%
	
#frame-113 .labels .label
	position: relative
	width: 100%
	height: 14%
	font-family: Segoe
	background-color: #4EC7DD
	font-weight: bold
	font-size: 25%
	color: white
	padding: 1.5%
	border-top: 0.1vmin solid white
	text-align: center


#frame-113 .is-dragging
	z-index: 4	

#frame-113 .baskets
	position: absolute
	width: 15%
	height: 80%
	left: 50%
	top: 15%

#frame-113 .balls
	position: absolute
	width: 15%
	height: 80%
	left: 70%
	top: 15%
	cursor: pointer	

#frame-113 .baskets .basket
	position: relative
	width: 100%
	height: 14%
	font-family: Segoe
	background-color: #FFC8D5
	font-weight: bold
	color: white
	padding-top: 11%
	border-top: 0.1vmin solid white
	border-left: 0.1vmin solid white
	font-size: 25%

#frame-113 .balls .ball
	position: relative
	width: 100%
	height: 14%
	font-family: Segoe
	background-color: #4EC7DD
	font-weight: bold
	color: white
	padding-top: 11%
	text-align: center
	border-top: 0.1vmin solid white
	border-left: 0.1vmin solid white
	font-size: 25%


	
/*FRAME 114*/

#frame-114 .bg-base
	@extend .absolute
	@include pos-and-size-2(-600%, 0%, 800%, 100%)
	background-image: url(../pics/main-pics-sprite.png)	
	z-index: 1

#frame-114 .eyes
	@extend .absolute-max
	background-image: url(../pics/s14-eyes.gif)
	z-index: 2
	
#frame-114 .mouths
	@extend .absolute-max
	background-image: url(../pics/s14-mouths.gif)
	z-index: 3

/*FACTS PART*/

.fact .label
	width: 100%
	min-height: 8%
	max-height: 10%
	position: absolute
	font-size: 30%
	top: 15%
	font-weight: bold
	padding-top: 1%
	font-family: Segoe
	text-align: center
	background-color: #13a9d0
	color: white

.fact .fact-image
	width: 30%
	height: 60%
	position: absolute
	top: 30%
	left: 15%
	background-size: 100% 100%

.fact .fact-1-image
	background-image: url(../pics/fact-1-image.png)

.fact .fact-2-image
	background-image: url(../pics/fact-2-image.png)
	
.fact .fact-3-image
	background-image: url(../pics/fact-3-image.gif)

.fact .fact-4-image
	background-image: url(../pics/fact-4-image.png)
	
.fact .fact-5-image
	background-image: url(../pics/fact-5-image.png)

.fact .fact-text
	width: 50%
	height: 60%
	text-align: justify
	position: absolute
	font-size: 30%
	font-family: Verdana
	left: 50%
	top: 37%

.fact .next, .fact .back
	width: 10%
	height: 10%
	padding-top: 1.5%
	font-family: Segoe
	font-weight: bold
	font-size: 25%
	color: white
	border-left: 1px solid white
	text-align: center
	position: absolute
	
.fact .next
	top: 15%
	left: 90%
	
.fact .back
	top: 15%
	left: 80%

.fact .next:hover, .fact .back:hover
	background-color: #f39279

#frame-201 .fact-text
	font-size: 60%

#frame-203 .fact-text
	font-size: 40%

#frame-204 .fact-text
	font-size: 50%

#frame-205 .fact-text
	width: 65%
	height: 60%
	text-align: justify
	position: absolute
	font-size: 30%
	font-family: Verdana
	left: 17.5%
	top: 37%
	

/*TEST PART*/

.video-container
	width: 60%
	height: 80%
	left: 20%
	top: 10%
	position: absolute

#frame-301
	font-size: 25%
	
#frame-301, .result
	width: 100%
	height: 100%
	position: absolute
	background-image: url(../pics/frame-102-bg.png)
	background-size: 100% 100%

#frame-301  .question, #frame-301  .label
	width: 100%
	height: auto
	position: absolute
	top: 15%
	font-weight: bold
	padding: 1%
	font-family: Segoe
	text-align: center
	background-color: #13a9d0
	color: white
	
#frame-301  .next
	@extend .absolute
	width: 100%
	height: 8%
	top: 40%
	background-color: #ff4177
	text-align: center
	color: white
	padding: 0.7%
	font-weight: bold

#frame-301 .answer
	width: 100%
	height: 8%
	font-family: Segoe
	margin-top: 1%
	color: white
	padding: 1%
	text-align: center
	position: absolute
	background-color: #ff4177
	cursor: pointer

#frame-301 .answer-a
	top: 30%
	
#frame-301 .answer-b
	top: 40%
	
#frame-301 .answer-c
	top: 50%
	
#frame-301 .answer:hover
	background-color: #FFC8D5
	color: darkGray

#frame-301 .next:hover
	background-color: black

#frame-301 .task-button
	position: absolute
	width: 60%
	height: 7%
	left: 20%
	top: 80%
	font-family: Segoe
	padding-top: 0.7%
	text-align: center
	background-color: #77DAF2
	color: white
	cursor: pointer

#frame-301 .task-button:hover
	background-color: #FFC8D5
	color: darkGray	
	
#frame-301 .home-button
	position: absolute
	width: 60%
	height: 7%
	left: 20%
	top: 90%
	font-family: Segoe
	padding-top: 0.7%
	text-align: center
	background-color: #630c94
	color: white
	cursor: pointer

#frame-301 .home-button:hover
	background-color: #FFC8D5
	color: darkGray	

#frame-301 .section-title
	width: 40%
	height: 10%
	text-align: center
	position: absolute
	font-size: 150%
	font-family: Segoe
	color: #630c94
	left: 30%
	top: 2.5%


/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 750px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	font-family: Verdana
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10
	font-family: Verdana

.reg-box.topcorner
	@include pos(30px, 950px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center

.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	font-family: Verdana
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	width: 10em
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white
	
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 30%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 85%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button:hover
	color: blue

#frame-000 .annotation-button-close
	color: gray	

#frame-000 .copyright
	@extend .absolute
	z-index: 15
	left: 77%
	top: 96%
	width: 23%
	height: 5%
	font-size: 15%
	color: #000	
	
/*INTRO VIDEO*/

.intro-video
	display: block
	@extend .absolute
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	z-index: 17
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 16

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 58%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 50%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light